html > * {
  font-size: 1.2em;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

a {
  color: #176ceb;
  color:#141619;
  text-decoration: underline;

}
body {  
  font-family: 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family:  muli, sans, arial;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
   color: #888888;
   color: #141619;
   background-color: #fafafa;
}

.header {
  width: 100%;
  padding: 0em; 
  background-color: #fff;   
  display: flex;
  justify-content: space-between;     
  align-items: center;
  min-height: 15vh;
}

header > h1 {
  color:#ccc; 
}

main { 
  display: block;
  padding: 2%;
  background-color:#fafafa;    
  width: 100%; 
  min-height: 48vh;
}

footer {
  position: relative;  
  padding: 0em;
  text-align: center;
  color:#888;
  border-top:1px solid #eee
}

.copy {  
  border-top:1px solid #eee
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: normal;
  padding-left: 10%;
}

.big-heading {
  margin: 0px;
  font-size: clamp(20px, 8vw, 60px);
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    width: 100px;
    height: 100px;
    /* animation: logo-spin infinite 20s linear; */
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#quote {
  font-size: 1rem;
  color:#888;
}